.LogoBig {

}
.LogoSmall {

}
.Instagram, .Telegram, .Tiktok, .YouTube, .Arrow, .FilterIco {
  fill:  $action;
}

.Magnifier, .Сlose {
  stroke: $action;
  fill: none;
}

.Eye {
  stroke: $text;
  fill: none;
}

